services:
  nuxt-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nebus-todo-app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - HOST=0.0.0.0
      - PORT=3000
    restart: unless-stopped