

body {
  line-height: 1.3;
  font-family: var(--font-famaly-base);
}

* {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.icon {
  color: rgb(142, 142, 142);
  cursor: pointer;
  transition: all 0.2s ease-out;

  &.icon-red {
    &:hover {
      color: red;
    }
  }

  &.icon-green {
    &:hover {
      color: #1bff5c;
    }
  }

  &.icon-orange {
    &:hover {
      color: rgb(255, 177, 33);
    }
  }

  &:active {
    transform: translateY(-3px);
  }
}
